---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TagCloud from '../components/TagCloud.astro';
import NewsGrid from '../components/NewsGrid.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TagCloud />
    <NewsGrid />
  </main>
  <Footer />
</Layout>
